<div class="containerSidebar">
    <div class="sidebar" id="sidebar">
        <div class="parentGrid">
            <div class="personality">
                <img src="../assets/img/booba.jpg" alt="Album de medine">
            </div>
            <div class="grid">
            </div>
        </div>
    </div>
    <div class="buttonSidebar" id="buttonSidebar"><img src="../assets/img/rightArrow.png" alt="flèche de droite">
    </div>
</div>

<form class="pictureAlbumQuiz">

    <li class="firstAlbumQuiz">
        <img src="assets\img\Live_Love_ASAP.jpg" alt="asap">
        <h1>Le Squizzz</h1>
    </li>
    <li class="fourAlbumQuiz">
        <img src="assets\img\Drill-FR.jpg" alt="Gazo">
        <img src="assets\img\good-kid-m.a.a.d-city-kendrick-lamar-1.jpg" alt="kendrick">
    </li>

</form>

<div class="containerQuiz">
    <div class="questionQuiz">
        <div class="containerQuestion">
			<span class="questionLeSquizz">Lorem ipsum dolor sit amet consectetur adipisicing elit.
			 Harum corrupti asperiores doloribus laboriosam voluptatibus cum recusandae aliquid ullam! Unde laborum iure adipisci  </span>
                                                                         
		</div>
        
	</div>

	<div class="containerAnswer">
		<div class="leSquizz">
			<div class="answerLeSquizz" id="1">
				<span >Réponse 1</span>
			</div>
			<div class="answerLeSquizz" id="2">
				<span>Réponse 2</span>
			</div>
			<div class="answerLeSquizz" id="3">
				<span>Réponse 3</span>
			</div>
		</div>

		<div class="leSquizz1">
			<div class="answerLeSquizz">
				<span id="reponseFour">Réponse 4</span>
			</div>
			<div class="answerLeSquizz">
				<span id="reponseFive">Réponse 5</span>
			</div>
			<div class="answerLeSquizz" >
				<span id="reponseSix">Réponse 6</span>
			</div>
		</div>
	</div>
</div>
