<div>
    <div class="blackCircle"><img alt="image" src="../assets/img/background.svg"></div>
    <div class="groupScore">

        <div class="score">
            <h2>Your Score</h2>
        </div>
        <divc class="etoile">
            <img class="etoileStar" src="../assets/img/etoile.svg" alt="etoile">
            <p class="etoileScore">9/10</p>
        </divc>
    </div>
</div>