.blackCircle img {
    position: absolute;
    height: 100%;
    width: 100%;
    z-index: -100;
}

.firstAlbumSlider {
    position: absolute;
    left: 60vw;
    box-shadow: 0 12px 30px 6px #000;
    height: 15vh;
}

.secondAlbumSlider {
    position: absolute;
    left: 80vw;
    top: 83vh;
    box-shadow: 0 12px 30px 6px #000;
    height: 15vh;
}

.thirdAlbumSlider {
    position: absolute;
    left: 5vw;
    top: 10vh;
    box-shadow: 0 12px 30px 6px #000;
    height: 20vh;
}

.fourthAlbumSlider {
    position: absolute;
    left: 15vw;
    top: 85vh;
    box-shadow: 0 12px 30px 6px #000;
    height: 15vh;
}

.logoLeSquizzz {
    width: 100%;
    margin-top: 1%;
    display: flex;
    position: absolute;
    justify-content: flex-end;
    align-items: center;
}
.logoLeSquizzz h1 {
    color: white;
    margin:0;
}
.logoLeSquizzz img {
    height: 22px;
}

.containerSlider {
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.slider {
    background-color: rgba(28, 37, 48);
    height: 54vh;
    width: 61vw;
    z-index: 2;
    border: solid #FF6B00 1px;
    border-radius: 15px;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.leftContainerDifficulty {
    height: 100%;
    width: 55%;
    display: flex;
    align-items: center;
    justify-content: center;
}

 .hrMiddle {
     margin-right: 0;
     margin-left: 0;
     height: 85%;
}

.leftContainerDifficulty img{
    height: 90%;
    width: 80%;
    border-radius: 5%;
}

.rightContainerDifficulty {
    display: flex;
    flex-direction: column;
    width: 45%;
    justify-content: center;
    align-items: center;
    font-size: 14px;
}

.rightContainerDifficulty hr {
    margin-top: 2%;
    width: 80%;
    height: 0;
}

.rules {
    height: 30%;
    width: 90%;
    color: #fff;
    overflow: hidden;
    font-family: 'Cabinet Grotesk', sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.rules p {
    margin-top: 2%;
    margin-bottom: 0;
}

.rules h2 {
    margin: 0;
    font-size: 1.8em;
}

.difficultyParent {
    height: 50%;
    width: 90%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.difficulty{
    position: relative;
    margin-top: 4%;
    border-radius: 10px;
    background-color: #fff;
    height: 100%;
    width: 80%;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    box-shadow: 8px 8px 0 0 #000;
    font-size: 1.8em;
    font-family: 'Cabinet Grotesk', sans-serif;
}

.difficulty button {
    background-color: #ffffff;
    border: 0;
}

.difficulty:active {
    top: 5px;
    left: 5px;
    box-shadow: 0 0 0 0 #000;
}

@media screen and (max-width: 1500px) {
    .rules h2 {
        font-size: 1.5em;
    }

    .rules p {
        font-size: 0.8em;
    }
}

@media screen and (max-width: 1100px) {
    .rules h2 {
        font-size: 1.2em;
    }

    .rules p {
        font-size: 0.6em;
    }
}

@media screen and (max-width: 800px) {
    .blackCircle img {
        display: none;
    }

    .firstAlbumSlider {
        display: none;
    }

    .secondAlbumSlider {
        display: none;
    }

    .thirdAlbumSlider {
        display: none;
    }

    .fourthAlbumSlider {
        display: none;
    }

    .logoLeSquizzz {
        justify-content: center;
    }

    .logoLeSquizzz img {
        height: 8vh;
    }

    .containerSlider {
        justify-content: flex-end;
    }

    .slider {
        height: 80vh;
        width: 80vw;
        flex-direction: column;
        align-items: center;
        margin-bottom: 5vh;
    }

    .leftContainerDifficulty {
        height: 50%;
        width: 100%;
    }

    .hrMiddle {
        margin: 0;
        height: 0;
        width: 80%;
    }

    .leftContainerDifficulty img{
        height: 90%;
        width: 55%;
        margin-bottom: 2.5%;
    }

    .rightContainerDifficulty {
        flex-direction: row;
        width: 100%;
        height: 45%;
        font-size: 25px;
    }

    .rightContainerDifficulty hr {
        margin-top: 0;
        width: 0;
        height: 80%;
    }

    .rules {
        height: 100%;
        width: 55%;
    }

    .rules p {
        margin-left: 7%;
        margin-right: 2%;
        font-size: 0.8em;
    }

    .rules h2 {
        margin-left: 7%;
        margin-right: 2%;
        font-size: 1.6em;
    }

    .difficultyParent {
        height: 80%;
        width: 45%;
    }

    .difficulty{
        margin-top: 6%;
        width: 80%;
        font-size: 1.4em;
    }
}

@media screen and (max-width: 600px) {
    .rules p {
        font-size: 0.65em;
    }

    .rules h2 {
        font-size: 1.35em;
    }

    .difficulty{
        width: 80%;
        box-shadow: 5px 5px 0 0 #000;
        font-size: 1.2em;
    }
}

@media  screen and (max-width: 500px) {

    .leftContainerDifficulty {
        height: 30%;
    }

    .rightContainerDifficulty {
        flex-direction: column;
        width: 100%;
        height: 60%;
    }

    .rightContainerDifficulty hr {
        margin-bottom: 0;
        width: 80%;
        height: 0;
    }

    .rules {
        height: 40%;
        width: 90%;
    }

    .rules p {
        font-size: 0.4em;
    }

    .rules h2 {
        font-size: 1em;
    }

    .difficultyParent {
        height: 60%;
        width: 80%;
    }

    .difficulty{
        margin-top: 5%;
        width: 90%;
        font-size: 1em;
    }
}