.display{
    display: none;
}
.container {
    position: fixed;
    z-index: 100;
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    background-color: #1C2530;
}
.loader{
    position: fixed;
    z-index: 3;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60px;
    list-style: none;
    padding:0;
}


@-webkit-keyframes loadbars {
    0%{
        height: 10px;
        margin-top: 25px;
    }
    50%{
        height:50px;
        margin-top: 0px;
    }
    100%{
        height: 10px;
        margin-top: 25px;
    }
}

.animatedLogo{
    background-color: #FF6B00;
    width: 10px;
    height: 10px;
    float: right;
    margin-right: 5px;
    box-shadow: 0px 20px 10px rgba(0,0,0,0.2);
}
.animatedLogo:first-child{
    -webkit-animation: loadbars 1s cubic-bezier(0.645,0.045,0.355,1) infinite 0s;
}
.animatedLogo:nth-child(2){
    -webkit-animation: loadbars 1s ease-in-out infinite -0.2s;
}
.animatedLogo:nth-child(3){
    -webkit-animation: loadbars 1s ease-in-out infinite -0.4s;
}
.animatedLogo:nth-child(4){
    -webkit-animation: loadbars 1s ease-in-out infinite -0.6s;
}
.animatedLogo:nth-child(5){
    -webkit-animation: loadbars 1s ease-in-out infinite -0.8s;
}
.animatedLogo:nth-child(6){
    -webkit-animation: loadbars 1s ease-in-out infinite -1.0s;
}



/*//////////////////////////////////////////////*/
.pictureAlbumQuiz {
    position: absolute;
    height: 100%;
    width: 100%;
    z-index: -1;
}

.firstAlbumQuiz {

    display: flex;
    justify-content: space-between;
    height: 150px;
    color: white;
}

.firstAlbumQuiz img {

    width: 180px;
    height: 180px;
    box-shadow: 0 12px 30px 6px #000;
    z-index: -1;

}

.firstAlbumQuiz h1 {
    margin-right: 15px;
}

.fourAlbumQuiz {
    margin-left: 100px;
    margin-top: 500px;
    display: flex;
    justify-content: space-between;
    height: 150px;

}

.fourAlbumQuiz img {
    width: auto;
    height: 15vh;
    box-shadow: 0 12px 30px 6px #000;
    margin-top: 60px;
}

.logoLeSquizzz {
    width: 100%;
    display: flex;
    position: absolute;
    justify-content: flex-end;
    align-items: center;
}

.logoLeSquizzz h1 {
    color: white;
    margin:0;
    text-align: center;
}

.logoLeSquizzz a img {
    height: 20px;
}

.containerQuiz {
    height: 100vh;
    width: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.questionQuiz {
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    height: 250px;
    width: 75vw;
    border-radius: 50px;
    border: 2px solid #FF6B00;
    margin-left: 3px;
    margin-right: 3px;
    margin-top: 70px;
    background-color: #1C2530;
}

.containerQuestion {
    width: 70vw;
    text-align: center;
}

.questionLeSquizz {
    font-size: 2em;
    line-height: 30px;
    margin-bottom: 20px;
    text-align: center;
}

.containerAnswer {
    height: 300px;
    width: 80vw;
    display: flex;
    margin-bottom: 100px;
    margin-top: 30px;
    flex-wrap: wrap;
}



.answerLeSquizz {
    height: 110px;
    width: 40vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

.answerLeSquizz span {
    border: 2px solid white;
    border-radius: 50px;
    height: 70px;
    width: 35vw;
    background-color: #1C2530;
    color: white;
    font-size: 1.2rem;
    font-weight: 500;
    transition: 0.2s ease-in-out;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.reponse:hover {
    background-color: white;
    color: #1C2530;
    font-weight: 600;
    transition: 0.2s ease-in-out;
    cursor: pointer;
}
.sidebar {
    display: flex;
    flex-direction: column;
    position: absolute;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 90%;
    left: -90.5%;
    background-color: #1f1f1f;
    box-shadow: 1px 0 0 0 #fff;
    transition: left 1s;
    z-index: 80;
}

.openSidebar {
    left: 0;
}

.rotateButton {
    transform: rotate(180deg);
}

.parentGrid {
    height: 80vh;
    width: 80vw;
    z-index: 100;
    position: relative;
    transition: 0.5s all ease;
    display: flex;
    align-items: center;
    justify-content: center;
}

.personality {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 55vh;
    width: 40vw;
}

.personality img {
    height: 100%;
    width: 60%;
}

.grid {
    position: absolute;
    height: 55vh;
    width: 40vw;
    background-color: transparent;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-column-gap: 0;
    grid-row-gap: 0;
    z-index: 102;
}

.grid > * {
    border: 3px solid #1f1f1f;
    background-color: #1f1f1f;
}

.containerReponseSidebar{
    width: 100%;
    height: 20%;
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}
.reponseSidebar{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30%;
    height: 20%;
}
.reponseSidebar .reponseAlbum{
    background-color: #FF6B00;
    border-radius: 10px;
    width: 100%;
    height: 80%;
    margin-right: 10px;
    font-size: 1.4rem;
}
.reponseSidebar .buttonAlbum{
    width: 30%;
    height: 100%;
    border-radius: 10px;
    background-color: #fff;
    box-shadow: 8px 8px 0 0 #000;
    font-size: 1.4em;
    cursor: pointer;

}

.buttonSidebar {
    position: absolute;
    height: 100%;
    width: 5%;
    display: flex;
    justify-content: center;
    align-items: center;
    right: -100px;
    transition: all 0.5s ease;
}

.buttonSidebar img {
    height: 70px;
    width: 70px;
    cursor: pointer;
}

.buttonSidebarPlus img {
    height: 70px;
    width: 70px;
    cursor: pointer;
}
@media screen and (max-width : 1071px) {

    .firstAlbumQuiz {
        display: flex;
        justify-content: center;
        height: 50px;

    }

    .firstAlbumQuiz h1 {

        margin-right: 0;
    }

    .firstAlbumQuiz img {

        display: none;
    }

    .containerAnswer {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-bottom: 0;
        margin-top: 0;
    }

    .containerQuiz {
        height: 85vh;
        width: auto;
    }

    .questionQuiz {

        width: 70vw;
        border-radius: 0;
        border: 2px solid #FF6B00;
        padding-top: 5px;
        padding-bottom: 10px;
        background-color: #1C2530;
        height: auto;
        margin-top: 60px;
    }

    .questionLeSquizz {
        font-size: 1em;
        line-height: 10px;
        margin-bottom: 20px;
        text-align: center;
        margin-top: 20px;
    }

    .question {
        display: none;
    }

    .leSquizz {
        height: 220px;
    }

    .leSquizz1 {
        height: 220px;

    }

    .answerLeSquizz {
        width: 40vw;
        height: 10px;
        margin-top: 50px;
    }

    .answerLeSquizz span {

        min-width: 70vw;

        height: 45px;
    }

    .containerQuestion {
        width: 65vw;
    }

    .buttonSidebar {
        right: -78px;
    }
}

@media screen and (max-width : 1037px) {
    .buttonSidebar img {
       height: 50px;
       width: 50px;
    }
}

@media screen and (max-width : 960px) {
    .buttonSidebar {
        right: -56px;
    }
    .grid {
        width: 100%;
        height: 75%;
    }
    
    .personality{
        width: 100%;
        height: 75%;
    }
}


@media screen and (max-width : 800px) {
    .firstAlbumQuiz {
        display: flex;
        justify-content: center;
        height: 50px;
    }

    .firstAlbumQuiz h1 {
        font-size: 2rem;
        margin-right: 0;
        text-align: center;
    }
    .fourAlbumQuiz img{
        display: none;
    }

    .answerLeSquizz span {
        font-size: 0.9rem;
    }

    .parentGrid {
        height: 50vh;
    }

    
    .personality {
        height: 37vh;
    }

    .personality img {
        height: 100%;
        width: 60%;
    }

    .buttonSidebar {
        right: -60px;
    }

    .buttonSidebar img {
        height: 50px;
        width: 50px;
    
    }
    .logoLeSquizzz a img {
        height:2.4vh;
    }
}


@media screen and (max-width : 700px) {
    .questionQuiz {
        width: 75vw;
    }
    .fourAlbumQuiz img{
        display: none;
    }

    .buttonSidebar {
        position: fixed;
        z-index: 99;
        left: 20px;
        bottom: -45%;
    }

    .logoLeSquizzz h1  {
        text-align: center;
    }
    .logoLeSquizzz a img {
        height:2.4vh;
    }

   

}

@media  screen and (max-width: 500px) {
    .parentGrid {
        height: 40vh;
    }

    .personality {
        height: 30vh;
    }

    .buttonSidebar {
        right: -38px;
    }

    .buttonSidebar img {
        height: 45px;
        width: 45px;
    }
}

@media screen and (max-width : 400px) {

    .questionQuiz {
        width: 70vw;
        border-radius: 0;
        border: 2px solid #FF6B00;
        padding-top: 0px;
        padding-bottom: 0px;
        height: auto;
        margin-top: 65px;
        background-color: #1C2530;
    }

    .answerLeSquizz span {
        height: 40px;
    }

    .parentGrid {
        height: 40vh;
    }

    .personality {
        height: 30vh;
    }

    .buttonSidebar {
        right: -38px;
    }

    .buttonSidebar img {
        height: 45px;
        width: 45px;
    }
  
}