.blackCircle img {
    position: absolute;
    height: 100%;
    width: 100%;
    z-index: -100;
}
.groupScore{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.titleScore{
    margin-top: 2%;
    font-size: 2rem;
    color: #FF6B00;

}

.containerScore{
font-size: 4rem;
    color: white;
}
.buttonContainer{
    width: 100%;
    height: 4vw ;
    display: flex;
    justify-content: center;
    align-items: center;
}

#compliment{
    font-size: 2.5rem;
    font-weight: bold;
    color: white;

}

.buttonWelcome{
    position: relative;
    border-radius: 10px;
    background-color: #fff;
    padding: 2px;
    height: 3vh;
    width: 15vw;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    box-shadow: 10px 10px 0 0 #000;
    border: 0;
    font-size: 1.5em;
    font-family: 'Cabinet Grotesk', sans-serif;
    text-align: center;
}
a {
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
}
.buttonWelcome:active {
    top: 5px;
    left: 5px;
    box-shadow: 0 0 0 0 #000;
}
a .buttonWelcome{
    text-decoration: none;

}

@media screen and (max-width: 1100px){

    .titleScore{
        margin-top: 7%;
        font-size: 2.7rem;
        color: #FF6B00;
    }
    .buttonWelcome{
        height: 7vh;
        width: 15vw;
    }
    #compliment{
        font-size: 2.5rem;
        font-weight: bolder;
        color: white;
    }
    .containerScore{
        font-size: 4rem;
        color: white;
    }
}
@media screen and (max-width: 950px){
    .blackCircle img {
display: none;
    }

    .titleScore{
        margin-top: 10%;
        font-size: 2.7rem;
        color: #FF6B00;
    }
    .buttonWelcome{
        height: 7vh;
        width: 15vw;
    }
    #compliment{
        font-size: 2.5rem;
        font-weight: bolder;
        color: white;
    }
    .containerScore{
        font-size: 4rem;
        color: white;
    }
}
@media screen and (max-width: 900px){

    .titleScore{
        margin-top: 10%;
        font-size: 2.7rem;
        color: #FF6B00;
    }
    .buttonWelcome{
        height: 6vh;
        width: 15vw;
    }
    .buttonWelcome{
        height: 7.5vh;
        width: 15vw;
    }

}
@media screen and (max-width: 800px){

    .titleScore{
        margin-top: 10%;
        font-size: 2.7rem;
        color: #FF6B00;

    }
}
@media screen and (max-width: 600px){
    .titleScore{
        margin-top: 10%;
        font-size: 1.5rem;
        color: #FF6B00;
    }
    .buttonWelcome{
        margin-top: 20vh;
        height: 9vh;
        width: 15vw;
    }
    #compliment{
        font-size: 1.4rem;
        font-weight: bolder;
        color: white;
    }
    .containerScore{
        font-size: 3rem;
        color: white;
    }
}
